body{
    background-color: #1C83C2;
}

.div_p {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid black;
    transition: background-color 0.3s, width 0.5s; /* suaviza el cambio */
}
.div_p:hover {
    background-color: violet;
    width: 500px; /* color al pasar el cursor */
}
